<html>
    <head>
      <title>Register new Idea</title>
      <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
      <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
      <script type="text/javascript"> bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });</script>
    </head>
      <body>
          <%- include('includes/navbarlogged') %>
        <center>
          <div class = "container" style="width: 50%">
            <h1><br>Register new Idea!</h1>
            <form action="/ideas/create" method="post">
              <fieldset>
              <b style="font-size:20px">TITLE:</b>
              <input type="text" class="form-control" placeholder="Title" name="title"><br>
              
              <b style="font-size:20px">OVERVIEW</b>
              <textarea rows="6" cols="100" name="overview" class="form-control" placeholder= "Input overview here" wrap="hard"></textarea>
              <small align="right" id="email tnc" class="form-text text-muted"><b>Please input &lt;br&gt; manually!!!</b></small>
              
              <b style="font-size:20px">OPTIONS</b>
              <textarea rows="6" cols="100" name="option" class="form-control" placeholder= "Input overview here" wrap="hard"></textarea>
              <small align="right" id="email tnc" class="form-text text-muted"><b>Please input &lt;br&gt; manually!!!</b></small>
              
              Product image URL : <input type="text" placeholder="http://imgur.com/xxxxx" name="image"><br>
              <small align="right" id="email tnc" class="form-text text-muted"><br></small>
              <p align ="right"><button type="submit" class="btn btn-primary">Submit</button></p>
            </fieldset>
            </form>
          </div>
        </center>
      </body>
</html>
